* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#new-dialog {
    margin: auto;
    padding: 3rem;
}

#form-content {
    list-style: none;
    font-size: 18px;
}

#form-content li {
    margin: 1rem auto;
}

#form-content fieldset {
    padding: 0.8rem;
}

#form-content input {
    max-height: 1.5rem;
    font-size: 18px;
}

#header {
    position: absolute;
    width: 100%;
    height: 5rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    background: #0C0935;
    color: white;
}

#main {
    padding: 8rem;
    height: 100vh;
}

#data-table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    font-size: large;
    padding: 5px 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: #bab8da;
}

button {
    padding: 0.6rem;
    color: white;
}

#new-button {
    background-color: #7672AC;
    font-size: large;
    transition: 0.2s;
}

#new-button:hover {
    background-color: #433c91
}

#add-button {
    background-color: #504C8D;
}

#delete-button {
    background-color: rgba(255, 0, 0, 0.493);
}

#cancel-button {
    color: black;
}